.THIS .wrapper {
    max-width: 340px;
    margin: 0 5%;
}

.THIS #slide01, .THIS #slide03, .THIS #slide05 {
        background-color: #FFFFFF; 
}
      
.THIS #slide00, .THIS #slide02, .THIS #slide04 {
        background-color: #F2F4F7; 
}
      
.THIS .slide {
        position: relative;
        overflow: hidden;
        height: 100vh; 
}

.THIS .slide .pin-wrapper {
              width: 100%;
              height: 100%;
}
.THIS .slide .wrapper {
              position: absolute;
              top: 35%;
              left: 40%; 
}
.THIS .slide .img {
              position: absolute;
              top: 50%;
              left: 40%;
              width: 750px;
              height: 618px;
              background: url(../svg/Easel-Simplicity.svg) no-repeat top left;
              transform: translate(-34%, -50%); 
}
      
.THIS #slide02 .img {
        background-image: url(../svg/Easel-Empowerment.svg);}
      
.THIS #slide03 .img {
        background-image: url(../svg/Easel-Flexibility.svg);}
      
.THIS #slide04 .img {
        background-image: url(../svg/Easel-Engagement.svg);}

.THIS #slide05 .img {
            background-image: url(../svg/Easel-Transparency.svg);}
    


.THIS #slide02 .pin-wrapper, .THIS #slide03 .pin-wrapper, .THIS #slide04 .pin-wrapper, .THIS #slide05 .pin-wrapper{
    transform: translateY(-100%);
}

.THIS .scrollmagic-pin-spacer{
    position: absolute !important;
    clip: rect(auto, auto, auto, auto)
}