<apex:page standardController="IDP_Payment__c" action="{!save}"  extensions="paymentControllerExtension">

<apex:form rendered="{!isError}">
       
<apex:outputPanel id="myPanel" rendered="{!isError}">
        <apex:pageMessages id="errorMessage" /> <br/>
        <center>
        <apex:commandButton id="myButton" value="OK" action="{!AddErrorMessage}" rendered="{!isError}" style="Width:70px;"/>
        </center>
</apex:outputPanel>
</apex:form>    
   
</apex:page>